
.search-bar {
    display: flex;
    align-items: center;
  }

  .search-bar input {
    padding: 10px;
    border: 1px solid #004a93 ;
    border-radius: 16px;
    margin-left: 200px;
    width: 500px;
  }

  .search-bar button {
    padding:  10px;
    margin-left: 5px; 
    border: none;
    background-color: #004a93 ;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
  }

